.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #749fcd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ddd;
  }
  
  .nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }

  .language-switch {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .language-switch:hover {
    background-color: white;
    color: #007BFF;
  }